/**
 * Your CSS goes here.
 */
/* pre loader style */ 
html,
body {
   margin: 0;
   padding: 0;
   width: 100%;
   height: 100vh;
   /* background: url(background.jpg) no-repeat 50% 50%; */
   background-size: cover;
}

#loader {
   position: fixed;
   width: 100%;
   height: 100vh;
   z-index: 1;
   overflow: visible;
   background: #fff url('./images/loader.gif') no-repeat center center;
}
:root {
   --first-clr: rgb(252 203 108);
   --second-clr: rgba(81, 203, 238);
   --third-clr: rgb(251, 50, 107);
   --first-dark-clr: rgb(208, 164, 75);
   --second-dark-clr: rgb(42, 144, 172);
   --third-dark-clr: rgb(144, 35, 66);
   --first-light-clr: rgba(208, 164, 75, 0.5);
   --second-light-clr: rgb(42, 144, 172, 0.5);
   --third-light-clr: rgb(144, 35, 66, 0.5);
}

* {
   margin: 0;
   padding: 0;
   outline: 0;
}

body {
   background-image: url('./images/beaver-with-diamond.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   min-height: 100vh;
   font-style: italic;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   backdrop-filter: blur(3px);
   position: relative;
}

body::before {
   content: "";
   background: rgba(0, 0, 0, 0.585);
   z-index: -2;
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
   height: 100%;
}

.container {
   width: 80%;
   margin: auto;
}

.flex {
   display: flex;
}

.absolute {
   position: absolute;
}

.main-header {
   text-align: center;
   height: 320px;
}

.head {
   margin-top: 20px;
   background-color: rgba(86, 86, 86, 0.922);
   padding-block: 25px;
   border-radius: 100px;
}

#title {
   font-weight: bold;
   text-align: center;
   font-size: 50px;
   margin-block: 5px;
}

#sub-title {
   letter-spacing: 8px;
   color: rgb(167, 167, 140);
   font-size: 20px;
   font-weight: bold;
   text-align: center;
}

.lang-switcher {
   padding: 5px 20px;
   width: 200px;
   border-radius: 10px;
   cursor: pointer;
}

.main-nav {
   padding-top: 20px;
   display: flex;
}

.buttons>* {
   padding: 5px 10px;
   align-self: center;
   background-color: transparent;
   border: 2px solid transparent;
   border-radius: 10px;
   margin-inline: 10px;
   cursor: pointer;
}

#play-btn {
   border-color: var(--second-clr);
}

#reset-btn {
   border-color: var(--first-clr)
}

#play-btn:hover {
   border-color: var(--second-dark-clr);
   background-color: var(--second-clr);
   color: rgb(0, 0, 0);
}

#reset-btn:hover {
   border-color: var(--first-dark-clr);
   background-color: var(--first-clr);
   color: rgb(0, 0, 0);
}

.main {
   display: flex;
   align-items: center;
   flex-direction: row;
   justify-content: space-between;
   padding: 10px;
   padding-top: 40px;
}

.main>* {
   text-align: center;
   background-color: rgba(256, 256, 256, 0.75);
   font-size: 30px;
   box-shadow: 4px 5px 12px rgb(212 212 212);
   border-radius: 10px;
   line-height: 4.3rem;
   font-weight: 600;
   font-size: 18px;
   margin: 10px;
   padding: 20px;
}

.madLibsEdit {
   position: relative;
}

.madLibsEdit::before {
   content: "";
   background-image: var(--background-image, url("./images/funny_beaver_ltr.png"));
   background-size: cover;
   filter: drop-shadow(2mm 2mm 2mm rgba(0, 0, 0, 0.81));
   width: 150px;
   height: 150px;
   position: absolute;
   inset-block-start: -90px;
   inset-inline-start: -20px;
}

.madLibsEdit .adjective {
   background-color: var(--first-light-clr);
   border-color: var(--first-dark-clr);
}

.madLibsEdit .noun {
   background-color: var(--second-light-clr);
   border-color: var(--second-dark-clr);
}

.madLibsEdit .verb {
   background-color: var(--third-light-clr);
   border-color: var(--second-dark-clr);
}

.prev-blank {
   padding-inline: 5px;
   border-bottom: 2px solid black;
   min-width: 80px;
   display: inline-block;
   line-height: initial;
}

p {
   font-weight: bold;
   font-style: italic;
   text-align: center;
   color: wheat;
   padding-block: 20px;
}

input {
   width: 95px;
   height: 25px;
   border-radius: 15px;
   border-color: rgb(17, 65, 65);
   text-align: center;
   color: rgb(5, 28, 28);
   border: 0;
}

input:focus-within {
   outline: none;
   box-shadow: 0 0 5px rgba(81, 203, 238, 1);
   border: 1px solid rgba(81, 203, 238, 1);
}

input:hover {
   font-size: 1em;
   color: #6e5050;
}

::placeholder {
   color: rgb(130, 130, 130);
   font-style: italic;
   font-size: 16px;
}

@media only screen and (max-width:768px) {
   .main {
      flex-direction: column;
   }

}

@media only screen and (max-width: 500px) {

   #sub-title {
      font-size: medium;
   }
}